@screen-xs-min: 400px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


html, body
{
	height: 100%;
}

nav
{
	background-color: #00ab66;

	.navbar-nav
	{
		a
		{
			font-size: 0.7rem;
			letter-spacing: 0.25rem;
		}
		.fa-search
		{
			font-size: 1.5rem;
		}
	}
}

#header
{
	background-color: #D8D8D8;
	background-image: url("../img/hero.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  box-shadow: inset 2000px 0 0 0 rgba(0,171,102, 0.5);
  
}
.ls
{
	letter-spacing: 0.25rem;
}
.txt-sm
{
	font-size: 0.7rem;
}
h1
{
	line-height: 1.4;
}
.p-intro
{
	line-height: 2;
}
.why-div
{
	.left-div
	{
		background-color: #D8D8D8;
		background-image: url("../img/photo1.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 300px;
	}
	.right-div
	{
		background-color: #F5F5F5;
	}
}
.filters-button-group
{
	button
	{
		color: #3498DB;
		font-size: 0.75rem;
		text-decoration: none;
	}
}


a#scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;

  @media (max-width:@screen-md-min){
	bottom: 0;
  }

}
 a#scroll-down:hover {
  opacity: .5;
}

a#scroll-down {
  padding-top: 70px;
}
a#scroll-down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 34px;
  height: 34px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;

  @media (max-width:@screen-md-min){
	  width: 24px;
	  height: 24px;
	  border-left: 2px solid #fff;
	  border-bottom: 2px solid #fff;
  }

}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

button.navbar-toggler
{	
	&:focus
	{
		outline: none;
	}
}
.navbar-brand
{
  font-size: 18px;
  font-weight: bold;
}

button.btn-secondary
{
  background-color: #00ab66;
  &:hover
  {
    background-color: darken(#00ab66, 10%);
  }
}

.show>button.btn-secondary.dropdown-toggle:focus
{
    background-color: darken(#00ab66, 10%);
}

.pick-kvart
{
  span
  {
    &:hover
    {
      cursor: pointer;
    }
  }
}

.kvart-btn
{
  min-width: 180px;
}
.fas
{
  color: #fff;
}

.fab, .fas.fa-map-marker-alt
{
  font-size: 44px;
  color: #00ab66;
}

.fab,.fas.fa-map-marker-alt
{
  transition: color .3s ease;
  &:hover
  {
    color: darken(#00ab66, 10%);
    cursor: pointer;
  }
}