.button {
  display: inline-block;
  background: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  border: none;
  outline: none;
}

.button:hover {
  background-color: transparent;
}

.button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3498DB;
    transition: width .0s;
}

.button:hover::after {
    width: 100%;
    transition: width .5s;
}

.button:active,
.button.is-checked {
  outline: none;
}

.button.is-checked::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #3498DB;
}

.button-group {
  text-align: center;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.grid article {
  background-color: #FFFFFF;
  display: block;
  float: left;
  width: 33.33%;
}


@media (max-width: 767px) {
  .grid article {
    width: 50%;
  }
}

@media (max-width: 479px) {
  .grid article {
    width: 100%;
  }
}